/**
 * md-toolbar 
 */

  md-toolbar.md-short {
      height: 36px;
      min-height: 36px;
      max-height: 36px;
  }

  md-toolbar.md-medium-short {
      height: 40px;
      min-height: 40px;
      max-height: 40px;
  }

  md-toolbar.md-medium-short,
  md-toolbar.md-short {
      font-size: 1.0em;
  }

  main .md-toolbar-tools {
      flex-flow: column-reverse;
      -webkit-flex-flow: column-reverse;
  }
  main .md-toolbar-tools-bottom {
      -webkit-flex-flow: column;
      flex-flow: column;
  }

}