#####################
# Sartorial Gitignore
#####################
#   Jonathan Ho
#   v1.0.0-rc.1
#   22-Mar-2015
#####################

# Development #
###############
*.dev.*
*.old.*
doc/
.old/


# Dependencies #
################
node_modules/
bower_components/

# Design #
##########
*.psd
*.ai
*.inx
*.dia
*.sla
*.pub


# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and Databases #
######################
logs/
*.log
*.sql
*.sqlite

# Miscellaneous #
#################
!.gitkeep
tmp
.DS_STORE
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea