# Dependencies #
################
node_modules/
bower_components/

# Design #
##########
*.psd
*.ai

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and Databases #
######################
logs/
*.log
*.sql
*.sqlite

# Miscellaneous #
#################
!.gitkeep
tmp
.DS_STORE
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
app/jspm_packages